<%- include('includes/head.ejs', {username: username}) %>

        <section class="section">
            <div class="container">
                <h1 class="title has-text-centered">LABORATORIO DE IMAGENES</h1>

                <div class="columns is-multiline">

                <%if (construcciones.length < 1) { %>
                    <div class ="notification is-info">
                        <button class="delete"></button>
                        No existe tu imagen 
                    </div>
                <% } %>

                <% for (let construccion of construcciones) { %>

                        <div class="column is-one-third">
                            <div class="card">
                                <div class="card-image">
                                <figure class="image is-4by3">
                                    <img src="<%= construccion.imagen %>" alt="Imagen de <%= construccion.nombre %>">
                                </figure>
                                </div>
                                <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                    <figure class="image is-48x48">
                                        <img src="<%= construccion.imagen %>" alt="Imagen de <%= construccion.nombre %>">
                                    </figure>
                                    </div>
                                    <div class="media-content">
                                    <p class="title is-4"><%= construccion.nombre %></p>
                                    <p class="subtitle is-6">@<%= construccion.nombre%></p>
                                    </div>
                                </div>
                            
                                <div class="content">
                                    <p><%= construccion.descripcion %></p>
                                    <a>@bulmaio</a>.
                                    <a href="#">#css</a> <a href="#">#responsive</a>
                                    <br>
                                    <time><%= construccion.hora_actual %></time>
                                </div>
                                </div>
                            </div>
                        </div>
                <% } %>  
            </div>

        
            <% if(cookies != "") {%>
                <div>La ultima imagen fue <%=cookies%>.</div>
            <% } %>  

<%- include('includes/footer.ejs')%>

            